setuptools == 44.0.0
ansible == 4.2.0
ansible-lint == 4.2.0
paramiko == 2.7.1

librouteros == 3.0.1 ; python_version == '3.6'

librouteros == 2.4.0 ; python_version == '2.7'
chainmap == 1.0.3 ; python_version == '2.7'
